
#all-data{
    background-color: rgb(231, 169, 88);
    border: 2px solid black;
    margin-right: 300px;
    margin-left: 300px;
}
#input{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 10px; 
}

nav{
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-family: cursive;
    font-weight: bolder;
}
input[type="text"]{
margin: 10px;
border-radius: 15px;
height: 20px;
padding: 5px;
background: transparent;
}
#item-name{
   width: 200px;
}
#item-price{
   width: 100px;
}
#item-name{
   width: 150px;
}
input[type="button"]{
margin: 10px;
border-radius: 15px;
height: 33px;
padding: 5px;
width: 60px;
background-color: rgb(40, 197, 40);
color: aliceblue;
border: none;
cursor: pointer;
font-size: large;

}
input[type="button"]:hover{
    background-color: rgb(75, 203, 75);
}
input[type="button"]:active{
    color:black;
}
table{
    display: flex;
    border-collapse: collapse;
    justify-content: center;
    margin-bottom: 70px;
    
}
th{
border:1.5px solid black;
padding: 10px;
font-size: large;
}
td{
    border:1.5px solid black ;
    font-size: large; 
    padding: 10px; 
}
#total{
    display: flex;
    justify-content: center;
    align-items: center;
}